.heading_container {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: larger;
  font-weight: bold;
  color: var(--primary);
}

.dialogContainer {
  padding: 1rem;
  width: 500px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .dialogContainer {
    padding: 1rem;
    min-width: 90%;
    max-width: 90%;
  }
}
