.container {
  background: radial-gradient(
    113.94% 113.94% at 50.06% -13.94%,
    #38a3a2 17.04%,
    #10605d 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 30px;
  height: 100%;
}

.heading {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.subHeading {
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
}

.circle {
  position: absolute;
  opacity: 0.3;
  background-color: #49aca8;
  padding: 20px;
  border: 1px solid #49aca8;
  border-radius: 50%;
}
